@import "../core/core";

.answersList {
  @include normal-text() {
  }

  font-size: 15px;
  margin: 0 0 10px 0px;
  @include tablet() {
    font-size: 20px;
    margin: 0 0 10px 50px;
  }
  &__answer {
    display: flex;
    flex-direction: row;
  }
  &__radio {
    display: none;
  }
  &__btn {
    height: 18px;
    width: 18px;
    background-color: $optionsBtn;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}
