@import "../core/core";
body {
  height: 100vh;
  background-color: $background;
  width: 100%;
}
.mainPage {
  @include normal-text() {
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $mainText;
  padding: 25px 25px;
  &__title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__count {
    color: $mainText;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
