@import "../core/core";

.question {
  @include normal-text() {
  }
  &__text {
    margin-bottom: 40px;
  }
}

.answersList {
  @include normal-text() {
  }
  width: 100%;
  &__answer {
    display: flex;
    flex-direction: row;
  }
  &__radio {
    display: none;
  }
  &__btn {
    height: 20px;
    width: 20px;
    background-color: $optionsBtn;
    border-radius: 50%;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 50px 0;
  padding: 0 150px;
  &__confirm {
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: $confirmBtn;
    text-decoration: none;
    text-transform: uppercase;
    width: $btnWidth;
    height: $btnHeight;
    color: $btnText;
    margin-right: 50px;
  }
  &__skip {
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: $skipBtn;
    text-decoration: none;
    text-transform: uppercase;
    width: $btnWidth;
    height: $btnHeight;
    color: $btnText;
    margin-right: 50px;
  }
  &__new {
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: $confirmBtn;
    text-decoration: none;
    text-transform: uppercase;
    width: $btnWidth;
    height: $btnHeight;
    color: $btnText;
  }
}
.line {
  height: 1px;
  width: 100%;
  background-color: $lineColor;
  margin-bottom: 25px;
}
