//fonts

$font-text: "Roboto", serif;

//colours

$mainText: white;
$btnText: black;
$optionsText: #677574;
$answerText: #677574;
$background: #2d3333;
$optionsBtn: #00bbb8;
$startBtn: #00bbb8;
$skipBtn: #00bbb8;
$confirmBtn: #677574;
$playAgainBtn: #00bbb8;
$optionsBtn: #00bbb8;
// $progressBar: #70b25d;
// $ProgressBarBackground: black;
$correct: #70b25d;
$fail: #ff0000;
$lineColor: #677574;
$respondTextColor: #677574;

//form

$btnWidth: 100px;
$btnHeight: 40px;
$btnSize: 15px;
$btnWeight: 600;

$btnWidthTablet: 150px;
$btnHeightTablet: 50px;
$btnSizeTablet: 18px;
$btnWeightTablet: 700;
